mnist-dataset/
.ipynb_checkpoints/neural_network-checkpoint.ipynb
.ipynb_checkpoints/test_network-checkpoint.ipynb
.ipynb_checkpoints/neural_network-Copy1-checkpoint.ipynb
.ipynb_checkpoints/nn-experiments-checkpoint.ipynb
.ipynb_checkpoints/nn-with-ai-checkpoint.ipynb
.ipynb_checkpoints/neural-network-working-checkpoint.ipynb
.ipynb_checkpoints/neural_network-broken-checkpoint.ipynb
